{
  "headerNavigation": [
    {
      "name": "Home",
      "link": "/",
      "external": false
    },
    {
      "name": "Kontakt",
      "link": "/kontakt",
      "external": false
    },
    {
      "name": "Finanzierung",
      "link": "/finanzierung",
      "external": false
    },
    {
      "name": "Zulassung",
      "link": "/zulassung",
      "external": false
    },
    {
      "name": "Standort",
      "link": "/standort",
      "external": false
    },
    {
      "name": "Dienstleistungen",
      "link": "/dienstleistungen",
      "external": false
    },
    {
      "name": "Impressum",
      "link": "/impressum",
      "external": false
    },
    {
      "name": "Getting started",
      "link": "/category/getting-started",
      "external": false
    },
    {
      "name": "More",
      "link": "#",
      "children": [
        {
          "name": "Theme Repository",
          "link": "https://www.github.com/jammeryhq/gridsome-starter-liebling",
          "external": true
        },
        {
          "name": "Gridsome Docs",
          "link": "https://www.gridsome.org/docs",
          "external": true
        },
         {
           "name": "Internal Page ( About )",
           "link": "/about-us",
           "external": false
         }
      ]
    }
  ],
  "footerNavigation": [
    {
      "name": "Latest Posts",
      "link": "/",
      "external" : false
    },
    {
      "name": "Facebook",
      "link": "https://www.facebook.com",
      "external": true
    },
    {
      "name": "Gridsome",
      "link": "https://www.gridsome.org",
      "external": true
    },
    {
      "name": "RSS",
      "link": "/rss.xml",
      "external": false
    }
  ]
}